body{
    background: no-repeat url("https://images.unsplash.com/photo-1572526474169-ff48188de458?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
}

.forgotContainer{
    margin-top: 300px;
    width: 400px;

}


.jumbotron.forgot{
    width: 400px;
    margin-left: 0;
}

.footy{
    position: fixed;
    bottom: 0;
    left: 50%;
}